@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root{
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    --Off-white: hsl(36, 100%, 99%); 
    --Grayish-blue: hsl(233, 8%, 79%); 
    --Dark-grayish-blue: hsl(236, 13%, 42%); 
    --Very-dark-blue: hsl(240, 100%, 5%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}
body{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.container{
    position: relative;
    width: 80%;
    margin-top: 2%;
}
/*----------nav starts----------*/
header{
    width: 100%;
    height: 9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
}
nav{
    width: 470px;
    height: 9rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav a{
    display: inline-block;
    text-decoration: none;
    margin-left: 40px;
    color: var(--Dark-grayish-blue);
}
nav a:hover{
    color: var(--Soft-orange);
}
.menu-open,
.menu-close {
    display: none;
    position: absolute;
    opacity: 0;
}
/*----------nav ends----------*/
.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.main-img .desktop-img{
    width: 100%;
}
.main-img .mobile-img{
    display: none;
}
.main-img{
    margin: 0;
    padding: 0;
    grid-column: 1 / 3;
    grid-row: 1;
}
/*------------right section----------*/
.right-side{
    grid-column: 3 / 3;
    grid-row: 1/3;
    padding: 22px;
    background-color: var(--Very-dark-blue);
}
.right-side h2{
    font-size: 35px;
    margin: 10px 0 30px;
    color: var(--Soft-orange);
}
.right-side a{
    color: var(--Off-white);
    text-decoration: none;
    font-weight: 700;
    font-size: 19px;
}
.right-side a:hover{
    color: var(--Soft-orange);
}
.right-side p{
    margin-top: 10px;
    color: var(--Grayish-blue);
    line-height: 25px;
}
hr{
    margin: 30px 0 30px 0;
    border-top: 1px solid var(--Dark-grayish-blue);
    border-bottom: 0px;
}
/*-------------left section------------*/
.left-side{
    grid-column: 1 / 3;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    gap: 60px;
}
.title{
    width: 700px;
}
.title h1{
    font-size: 54px;
    font-weight: 800;
    line-height: 3.5rem;
    color: var(--Very-dark-blue);
}
.part{
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.part p{
    color: var(--Dark-grayish-blue);
}
.part button{
    width: 180px;
    height: 43px;
    border-style: none;
    background-color: var(--Very-dark-blue);
    color: var(--Off-white);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    bottom: 0;
}
.part button:hover{
    background-color: var(--Soft-orange);
}
/*---------------middle section---------------*/
.middle{
    margin: 40px 0 40px 0;
    grid-column: 1 / 4;
    grid-row: 3/4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.middle img{
    width: 8rem;
}
.card{
    width: 350px;
    display: flex;
    flex-direction: row;
    gap: 23px;
}
.card-text{
    display: flex;  
    flex-direction: column;
    justify-content: space-between;
}
.card-text h2{
    font-size: 30px;
    color: var(--Grayish-blue);
}
.card-text a{
    font-size: 17px;
    font-weight: 800;
    text-decoration: none;
    color: var(--Very-dark-blue);
    letter-spacing: .5px;
}
.card-text a:hover{
    color: var(--Soft-orange);
}
.card p{
    color: var(--Dark-grayish-blue);
    line-height: 25px;
}

@media (max-width: 1080px) {
    .container{
        width: 95%;
    }
    .card{
        gap: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 870px){
    .main{
        display: flex;
        flex-direction: column;
    }
    .left-side{
        gap: 25px;
    }
    .middle{
        flex-direction: column;
        flex-wrap: wrap;
        gap: 14px;
    }
    .card img{
        width: 10rem;
    }
    .card-text p{
        line-height: 35px;
    }
    .card{
        width: 100%;
        gap: 15px;
    }
    .card-text{
       justify-content: center;
    }

}

@media (max-width: 650px) {
    /*---------nav-menu----------------*/
    nav{
        width: 300px;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav a{
        margin-left: 0;
        margin-top: 15px;
        font-size: 18px;
    }
    .menu-open, .menu-close {
        padding-top: 15px;
        height: 50px;
        margin: 0;
        cursor: pointer;
        position: relative;
        opacity: 1;
    }
    .menu-open{
        display: inline-block;
    }
    .menu-close{
        display: none;
    }
    header {
        width: 100%;
        height: 5rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    .container{
        width: 90%;
    }
    .main-img .desktop-img{
        display: none;
    }
    .main-img .mobile-img{
        display: block;
        width: 100%;
    }
    .left-side{
        flex-direction: column;
    }
    .left-side .title,
    .left-side .part{
        width: 100%;
        gap: 20px;
    }
    .card img {
        width: 8rem;
    }
    .card{
        width: 100%;
        gap: 15px;
    }
}
